:root {
  --main-color: #fddbb0;
  --head-size: 200px;
}

.pig-head {
  width: var(--head-size);
  height: var(--head-size);
  background-color: var(--main-color);
  border-radius: 50%;
  position: relative;
  margin: 20px auto;
  border: 2px solid #d4a06d;

  .ear {
    position: absolute;
    width: calc(var(--head-size) / 2.5);
    height: calc(var(--head-size) / 2);
    background-color: var(--main-color);
    border-radius: 50%;
    top: -20px;
    border: 2px solid #d4a06d;
    z-index: -1;

    &:first-child {
      left: -40px;
      transform: rotate(-30deg);
    }

    &:last-child {
      right: -40px;
      transform: rotate(30deg);
    }
  }

  .eye {
    position: absolute;
    width: calc(var(--head-size) / 6);
    height: calc(var(--head-size) / 5);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: calc(var(--head-size) / 4);
    rotate: 90deg;
    border: 1px solid #d4a06d;

    &:first-child {
      left: 40px;
    }

    &:last-child {
      right: 40px;
    }

    .pupil {
      width: calc(var(--head-size) / 20);
      height: calc(var(--head-size) / 20);
      background-color: black;
      border-radius: 50%;
      position: absolute;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
  }

  .nose {
    position: absolute;
    width: calc(var(--head-size) / 2.5);
    height: calc(var(--head-size) / 4);
    background-color: #f57187;
    border-radius: 35%;
    bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin: 0 auto;
    left: 0;
    right: 0; */
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #d4a06d;

    .nostril {
      width: calc(var(--head-size) / 10);
      height: calc(var(--head-size) / 10);
      background-color: black;
      border-radius: 50%;
    }
  }
}